body {
  width: 500px;
  font-family: Arial;
}

h4 {
  text-align: center;
}

.input-box {
  display: flex;
}

input {
  flex: 1;
  padding: 6px;
  border: 1px solid #ccc;
  border-radius: 6px;
}

ul {
  padding-left: 0;
  margin-top: 10px;
}

.delete {
  color: red;
  cursor: pointer;
}